Funktion in Python werden mit def erklärt. Python Namenskonvention ist snacke_case. 
Funktion um Breakeven zu berechnen. 
"""

In [3]:
def berechne_break_even_point(fixkosten, variable_kosten_pro_stueck, preis_pro_stueck):
    # Berechnung des Break-Even-Points
    # Formel: Break-Even-Point = Fixkosten / (Verkaufspreis - variable Kosten)
    break_even_point = fixkosten / (preis_pro_stueck - variable_kosten_pro_stueck)
    return round(break_even_point)

fixkosten = 10000
variable_kosten_pro_stueck = 2
preis_pro_stueck = 10
break_even_point = berechne_break_even_point(fixkosten, variable_kosten_pro_stueck, preis_pro_stueck)
print("Break-Even-Point: " + str(break_even_point))

Break-Even-Point: 1250

In [4]:
def umrechnung_waehrung(betrag,wechselkurs):
    # Berechnung des Wechselkurses
    # Formel: Betrag / Wechselkurs
    betrag = betrag * wechselkurs
    return round(betrag,2)

betrag = 100
wechselkurs = 1.12
zielwaehrung = "USD"
betrag = umrechnung_waehrung(betrag,wechselkurs)
print("Betrag in " + zielwaehrung + ": " + str(betrag))

Betrag in USD: 112.0

Einlesen der Daten würde auch mit path und mit einer Url gehen

In [5]:
import pandas as pd

# Read the data
data = pd.read_csv('CsvData/Construction.csv')

data.head(10)

,Project_ID,Name Projekt,projekt_Beginn,Plan Bau fertig,Fertig_IST,Kosten Plan,Ist_Kosten,Project_team
0,HN-399443,Straßenbau // Jennifer-Buchholz-Ring,2014-09-01,2014-10-03,2014-10-02,219817.40,246192.34,Team 3
1,UD-626094,Elektroarbeiten // Langernstraße,2021-06-12,2021-08-16,2021-09-18,105683.14,144657.38,Team 3
2,IO-468103,Spielplatz // Dussen vanweg,2016-05-20,2016-06-29,2016-06-27,129851.26,136753.06,Team 1
3,OG-758899,Stadtpark // Lübsstr.,2014-11-11,2014-12-30,2015-01-28,181236.83,273996.91,Team 2
4,CZ-107835,Elektroarbeiten // Försterweg,2017-07-25,2017-10-08,2017-10-08,75205.92,77519.27,Team 4
5,HI-359674,Elektroarbeiten // Rennerweg,2016-01-04,2016-03-21,2016-03-12,151411.19,158371.97,Team 1
6,YZ-626519,Baumbestand // Maik-Losekann-Ring,2019-03-10,2019-03-23,2019-03-26,58487.22,70654.02,Team 1
7,SX-790911,Landschaftsbau // Bohlanderring,2020-07-26,2020-08-29,2020-08-29,81275.76,86207.69,Team 1
8,AK-854107,Baumbestand // Dietzweg,2014-05-09,2014-05-21,2014-05-20,70001.36,77459.12,Team 4
9,GF-524437,Baumbestand // Esther-Scholtz-Weg,2020-02-24,2020-03-06,2020-03-09,46249.55,49518.89,Team 4

In [6]:
data.tail(3)

,Project_ID,Name Projekt,projekt_Beginn,Plan Bau fertig,Fertig_IST,Kosten Plan,Ist_Kosten,Project_team
10016,OT-465161,Landschaftsbau // Scholzallee,2015-02-28,2015-03-10,2015-03-10,144947.36,175375.91,Team 1
10017,YB-746954,Landschaftsbau // Laszlo-van der Dussen-Ring,2019-09-12,2019-09-28,2019-09-28,9406.83,10246.51,Team 1
10018,LG-582393,Elektroarbeiten // Lorchstr.,2014-05-13,2014-05-20,2014-05-21,53870.97,61034.11,Team 2

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10019 entries, 0 to 10018
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Project_ID       10019 non-null  object
 1   Name Projekt     10019 non-null  object
 2   projekt_Beginn   10019 non-null  object
 3   Plan Bau fertig  10012 non-null  object
 4   Fertig_IST       10019 non-null  object
 5   Kosten Plan      10005 non-null  float64
 6   Ist_Kosten       10019 non-null  float64
 7   Project_team     10019 non-null  object
dtypes: float64(2), object(6)
memory usage: 626.3+ KB

In [8]:
#average kosten Plan per project
data.groupby('Name Projekt')['Kosten Plan'].mean()

Name Projekt
Baumbestand // Abbas-Mude-Weg       77295.18
Baumbestand // Achim-Linke-Ring     -4260.71
Baumbestand // Ackermanngasse       33164.26
Baumbestand // Ackermannplatz       81591.75
Baumbestand // Ackermannstr.        40916.36
                                     ...
Ubahn // Zobelstraße               232604.18
Ubahn // Zoltan-Matthäi-Weg        233152.75
Ubahn // auch Schlauchingasse      925316.85
Ubahn // van der Dussenstr.         78441.03
Ubahn // van der Dussenstraße      645225.02
Name: Kosten Plan, Length: 9363, dtype: float64

## Aufbereitung der Daten
Spalten umbenennen

In [9]:
#rename columns to id name beginn ende_plan edne_ist kosten_plan kosten_ist team
data.rename(columns={'Project_ID':'id','Name Projekt':'name','projekt_Beginn':'beginn','Plan Bau fertig':'ende_plan','Fertig_IST':'ende_ist','Kosten Plan':'kosten_plan','Ist_Kosten':'kosten_ist','Project_team':'team'}, inplace=True)

In [10]:
df = data 
df.head(10)

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
0,HN-399443,Straßenbau // Jennifer-Buchholz-Ring,2014-09-01,2014-10-03,2014-10-02,219817.40,246192.34,Team 3
1,UD-626094,Elektroarbeiten // Langernstraße,2021-06-12,2021-08-16,2021-09-18,105683.14,144657.38,Team 3
2,IO-468103,Spielplatz // Dussen vanweg,2016-05-20,2016-06-29,2016-06-27,129851.26,136753.06,Team 1
3,OG-758899,Stadtpark // Lübsstr.,2014-11-11,2014-12-30,2015-01-28,181236.83,273996.91,Team 2
4,CZ-107835,Elektroarbeiten // Försterweg,2017-07-25,2017-10-08,2017-10-08,75205.92,77519.27,Team 4
5,HI-359674,Elektroarbeiten // Rennerweg,2016-01-04,2016-03-21,2016-03-12,151411.19,158371.97,Team 1
6,YZ-626519,Baumbestand // Maik-Losekann-Ring,2019-03-10,2019-03-23,2019-03-26,58487.22,70654.02,Team 1
7,SX-790911,Landschaftsbau // Bohlanderring,2020-07-26,2020-08-29,2020-08-29,81275.76,86207.69,Team 1
8,AK-854107,Baumbestand // Dietzweg,2014-05-09,2014-05-21,2014-05-20,70001.36,77459.12,Team 4
9,GF-524437,Baumbestand // Esther-Scholtz-Weg,2020-02-24,2020-03-06,2020-03-09,46249.55,49518.89,Team 4

Dateitypen umändern
"""

"""

In [11]:
#beginn ende_plan ende_ist to datetime and kosten_plan kosten_ist to float
df['beginn'] = pd.to_datetime(df['beginn'])
df['ende_plan'] = pd.to_datetime(df['ende_plan'])
df['ende_ist'] = pd.to_datetime(df['ende_ist'])	
df['kosten_plan'] = df['kosten_plan'].astype(float)
df['kosten_ist'] = df['kosten_ist'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10019 entries, 0 to 10018
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10019 non-null  object
 1   name         10019 non-null  object
 2   beginn       10019 non-null  datetime64[ns]
 3   ende_plan    10012 non-null  datetime64[ns]
 4   ende_ist     10019 non-null  datetime64[ns]
 5   kosten_plan  10005 non-null  float64
 6   kosten_ist   10019 non-null  float64
 7   team         10019 non-null  object
dtypes: datetime64[ns](3), float64(2), object(3)
memory usage: 626.3+ KB

Werte mit null values anzeigen

In [12]:
df.isna()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
10014,False,False,False,False,False,False,False,False
10015,False,False,False,False,False,False,False,False
10016,False,False,False,False,False,False,False,False
10017,False,False,False,False,False,False,False,False
10018,False,False,False,False,False,False,False,False

In [13]:
mask = df.isna().any(axis=1)
mask.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

Daten die fehlerhaft sind

In [14]:
df[mask].head()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
103,TH-593312,Elektroarbeiten // Börnerplatz,2018-05-07,2018-07-11,2018-07-17,NaN,69375.23,Team 3
740,NL-673150,Baumbestand // Loosplatz,2016-12-30,NaT,2016-12-31,16349.93,17892.16,Team 3
896,LM-748355,Baumbestand // Martha-Bohlander-Ring,2019-10-17,2019-10-22,2019-10-24,NaN,40637.75,Team 4
996,AY-257302,Elektroarbeiten // Eimerstr.,2014-02-03,2014-02-28,2014-03-01,NaN,112867.21,Team 2
1059,RR-446242,Elektroarbeiten // Florentine-Kambs-Allee,2013-06-16,2013-07-24,2013-07-23,NaN,164730.94,Team 1

Feherhafte Daten werden mit dropna() entfernt.

In [15]:
df = df.dropna()
#explain dropna
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9998 entries, 0 to 10018
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9998 non-null   object
 1   name         9998 non-null   object
 2   beginn       9998 non-null   datetime64[ns]
 3   ende_plan    9998 non-null   datetime64[ns]
 4   ende_ist     9998 non-null   datetime64[ns]
 5   kosten_plan  9998 non-null   float64
 6   kosten_ist   9998 non-null   float64
 7   team         9998 non-null   object
dtypes: datetime64[ns](3), float64(2), object(3)
memory usage: 703.0+ KB

Duplikate werden angezeigt

In [16]:
df.duplicated().sum()   
#show all duplicated rows in one dataframe
df[df.duplicated(keep=False)]

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
34,KN-987191,Landschaftsbau // Helga-Krause-Allee,2016-04-01,2016-04-04,2016-04-06,114862.28,125114.70,Team 1
447,SW-908572,Elektroarbeiten // Karl-Heinrich-Ring-Allee,2020-03-26,2020-06-07,2020-06-13,43298.09,60629.52,Team 3
590,ZE-101640,Landschaftsbau // Henry-Steinberg-Gasse,2013-10-25,2013-11-20,2013-11-26,99605.32,118141.92,Team 3
1337,DH-600607,Straßenbau // Tröstplatz,2015-01-06,2015-01-25,2015-01-26,189536.10,210407.91,Team 1
1356,JI-333627,Ubahn // Karl-Friedrich-Eigenwillig-Platz,2014-12-19,2015-03-18,2015-08-18,322147.45,331683.54,Team 1
1436,VV-651307,Stadtpark // Reza-Cichorius-Straße,2017-10-18,2018-01-02,2018-03-21,195746.98,203686.56,Team 1
1438,AS-665106,Landschaftsbau // Junckengasse,2013-03-30,2013-04-20,2013-04-20,112341.63,171362.50,Team 4
1586,GM-576339,Ubahn // Dörrplatz,2019-05-06,2019-09-08,2019-11-04,398069.61,427038.79,Team 3
1622,UT-285170,Stadtpark // Haufferstraße,2018-04-14,2018-07-20,2018-09-08,145938.62,154552.37,Team 1
2200,GM-576339,Ubahn // Dörrplatz,2019-05-06,2019-09-08,2019-11-04,398069.61,427038.79,Team 3
2229,XZ-167573,Elektroarbeiten // Henny-Möchlichen-Platz,2020-10-27,2021-01-11,2021-01-14,142197.30,141810.29,Team 4
2396,KN-987191,Landschaftsbau // Helga-Krause-Allee,2016-04-01,2016-04-04,2016-04-06,114862.28,125114.70,Team 1
2591,BD-570752,Landschaftsbau // Seifertstr.,2021-10-27,2021-11-12,2021-11-14,83103.02,125081.94,Team 4
2736,SB-309655,Stadtpark // Wellerweg,2017-07-24,2017-08-14,2017-08-13,21082.90,23536.00,Team 4
3365,JI-333627,Ubahn // Karl-Friedrich-Eigenwillig-Platz,2014-12-19,2015-03-18,2015-08-18,322147.45,331683.54,Team 1
3883,GY-017568,Baumbestand // Davidsgasse,2019-04-05,2019-04-15,2019-04-17,64916.91,79691.28,Team 3
3924,OO-412991,Ubahn // Annelise-Bauer-Straße,2015-11-15,2016-03-12,2016-05-10,441043.03,584978.50,Team 1
3951,OO-412991,Ubahn // Annelise-Bauer-Straße,2015-11-15,2016-03-12,2016-05-10,441043.03,584978.50,Team 1
4196,KL-994748,Stadtpark // Lars-Austermühle-Allee,2020-01-20,2020-04-11,2020-03-30,67451.12,68429.26,Team 3
4336,RM-284218,Elektroarbeiten // Fridolin-Ring-Gasse,2021-10-12,2021-12-16,2022-01-20,97924.55,115462.75,Team 2
4623,ZE-101640,Landschaftsbau // Henry-Steinberg-Gasse,2013-10-25,2013-11-20,2013-11-26,99605.32,118141.92,Team 3
5015,FN-033852,Elektroarbeiten // Gerhard-Sontag-Allee,2015-08-17,2015-09-17,2015-09-19,69545.97,92323.52,Team 2
5569,SW-908572,Elektroarbeiten // Karl-Heinrich-Ring-Allee,2020-03-26,2020-06-07,2020-06-13,43298.09,60629.52,Team 3
5617,AS-665106,Landschaftsbau // Junckengasse,2013-03-30,2013-04-20,2013-04-20,112341.63,171362.50,Team 4
5657,RM-284218,Elektroarbeiten // Fridolin-Ring-Gasse,2021-10-12,2021-12-16,2022-01-20,97924.55,115462.75,Team 2
5797,WU-612344,Elektroarbeiten // Kuhlstraße,2013-12-24,2014-02-26,2014-03-01,95552.62,100524.53,Team 4
6361,XZ-167573,Elektroarbeiten // Henny-Möchlichen-Platz,2020-10-27,2021-01-11,2021-01-14,142197.30,141810.29,Team 4
6452,DH-600607,Straßenbau // Tröstplatz,2015-01-06,2015-01-25,2015-01-26,189536.10,210407.91,Team 1
7030,TL-174516,Stadtpark // Haeringstraße,2018-03-12,2018-05-05,2018-05-05,12319.35,12345.99,Team 4
7287,UT-285170,Stadtpark // Haufferstraße,2018-04-14,2018-07-20,2018-09-08,145938.62,154552.37,Team 1
7835,KL-994748,Stadtpark // Lars-Austermühle-Allee,2020-01-20,2020-04-11,2020-03-30,67451.12,68429.26,Team 3
8233,TL-174516,Stadtpark // Haeringstraße,2018-03-12,2018-05-05,2018-05-05,12319.35,12345.99,Team 4
8235,BD-570752,Landschaftsbau // Seifertstr.,2021-10-27,2021-11-12,2021-11-14,83103.02,125081.94,Team 4
8931,FN-033852,Elektroarbeiten // Gerhard-Sontag-Allee,2015-08-17,2015-09-17,2015-09-19,69545.97,92323.52,Team 2
9242,VV-651307,Stadtpark // Reza-Cichorius-Straße,2017-10-18,2018-01-02,2018-03-21,195746.98,203686.56,Team 1
9488,SB-309655,Stadtpark // Wellerweg,2017-07-24,2017-08-14,2017-08-13,21082.90,23536.00,Team 4
9498,GY-017568,Baumbestand // Davidsgasse,2019-04-05,2019-04-15,2019-04-17,64916.91,79691.28,Team 3
9811,WU-612344,Elektroarbeiten // Kuhlstraße,2013-12-24,2014-02-26,2014-03-01,95552.62,100524.53,Team 4

Duplikate werden mit drop_duplicates() entfernt.

In [17]:
df = df.drop_duplicates()
df.duplicated().any()

False

Überprüfen ob id unique ist

"""

"""

In [18]:
unique_id = df['id'].unique()
len(unique_id) == len(df)

True

Kosten ist und soll plausibel, gucken ob größer 0

In [19]:
df[df["kosten_plan"] < 0]

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
149,ZU-631931,Ubahn // Mohammed-Lehmann-Straße,2018-11-14,2019-04-02,2019-08-27,-97953.64,-138873.05,Team 1
187,UO-403669,Straßenbau // Cichoriusallee,2013-06-15,2013-09-03,2013-09-03,-6600.91,-11154.49,Team 2
203,TA-448220,Ubahn // Miesgasse,2018-10-27,2019-03-14,2019-06-01,-10881.99,-12512.99,Team 1
228,DD-996695,Landschaftsbau // Hertrampfstraße,2019-12-19,2019-12-20,2020-01-22,-12584.56,-16566.35,Team 2
290,XX-607121,Baumbestand // Sandro-Schönland-Weg,2016-10-08,2016-10-21,2016-10-23,-28178.22,-30112.10,Team 4
...,...,...,...,...,...,...,...,...
9850,MP-329043,Elektroarbeiten // Anica-Hövel-Ring,2014-08-01,2014-10-04,2014-10-01,-18000.60,-20083.99,Team 1
9874,FY-695742,Baumbestand // Trubinplatz,2020-11-05,2020-11-20,2020-11-22,-2681.19,-3792.85,Team 2
9917,BQ-152614,Baumbestand // Sylwia-Flantz-Gasse,2018-09-12,2018-09-15,2018-09-17,-40725.60,-46026.01,Team 1
9921,AG-880105,Landschaftsbau // Natalja-Sölzer-Platz,2013-11-03,2013-11-23,2013-11-25,-13156.08,-13550.75,Team 4
9964,UT-072682,Stadtpark // Roswita-Ebert-Weg,2014-10-18,2014-11-25,2014-11-24,-27341.83,-45652.98,Team 2

Mit query holen wir alle Daten wo die Kosten größer 0 sind.

In [20]:
df = df.query('kosten_plan >= 0 and kosten_ist >= 0')
df[df["kosten_plan"] < 0]

Empty DataFrame
Columns: [id, name, beginn, ende_plan, ende_ist, kosten_plan, kosten_ist, team]
Index: []

Datum überprüfen ob es plausibel ist, ist Projekt schon abgeschlossen? Und ist beginn vor Ende?

In [21]:
df["ende_ist"].max()

Timestamp('2023-03-09 00:00:00')

In [22]:
df.query("ende_ist <= beginn").head()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team
1251,TG-362669,Baumbestand // Cornelia-Schönland-Gasse,2017-08-16,2017-08-16,2017-08-16,55507.48,69877.32,Team 2
1584,CF-360814,Baumbestand // Adlerallee,2014-10-18,2014-10-19,2014-10-18,80258.30,80779.37,Team 4
2456,JV-632251,Baumbestand // Gabriel-Gude-Platz,2014-11-03,2014-11-03,2014-11-03,31973.47,35215.93,Team 3
2764,WS-799566,Stadtpark // Hesseplatz,2014-04-21,2014-04-22,2014-04-21,175422.45,270521.71,Team 2
3319,QC-047279,Stadtpark // Heiko-Pohl-Straße,2020-06-24,2020-07-12,2020-06-24,92345.10,117155.99,Team 3

Unsicher ob Prj entfernt werdden müssen, begin und end gleicher tag, neue spalte zeigt differenz an

In [23]:
df["dauer"] = df["ende_ist"] - df["beginn"]

In [24]:
df = df.reset_index(drop=True)

In [25]:
df.head()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team,dauer
0,HN-399443,Straßenbau // Jennifer-Buchholz-Ring,2014-09-01,2014-10-03,2014-10-02,219817.40,246192.34,Team 3,31 days
1,UD-626094,Elektroarbeiten // Langernstraße,2021-06-12,2021-08-16,2021-09-18,105683.14,144657.38,Team 3,98 days
2,IO-468103,Spielplatz // Dussen vanweg,2016-05-20,2016-06-29,2016-06-27,129851.26,136753.06,Team 1,38 days
3,OG-758899,Stadtpark // Lübsstr.,2014-11-11,2014-12-30,2015-01-28,181236.83,273996.91,Team 2,78 days
4,CZ-107835,Elektroarbeiten // Försterweg,2017-07-25,2017-10-08,2017-10-08,75205.92,77519.27,Team 4,75 days

## Transformation und Visualisierung

Die Transformation der Daten ist der Schritt im Business-Analytics-Prozess, bei dem bestehende Daten analysiert, neue
Informationen generiert und der Datensatz so bearbeitet wird, dass er zur Beantwortung der Problemstellung hilfreich ist. Dies
kann durch Aggregation, Gruppierung und Filterung von Daten sowie durch das Berechnen neuer Daten aus bestehenden
Informationen erfolgen.

Wichtigkeit der Transformation:
- Erkenntnisgewinn: Die Transformation von Daten ermöglicht es, neue Erkenntnisse aus den vorhandenen Daten zu
gewinnen und hilft bei der Beantwortung der ursprünglichen Problemstellung.

- Informationsverdichtung: Durch Aggregation und Gruppierung von Daten können komplexe Datensätze auf übersichtliche
    und relevante Informationen reduziert werden. Bessere Analyse: Die Transformation von Daten verbessert die Qualität der
    Analyse, da sie sicherstellt, dass nur relevante Informationen und Zusammenhänge untersucht werden. Basis für Visualisierung
    und Modellierung: Die Transformation von Daten bildet die Grundlage für anschließende Schritte, wie die Visualisierung und
    das Modellieren, indem sie die benötigten Daten in einer geeigneten Form bereitstellt.
    
- Entscheidungsunterstützung: Durch die Transformation von Daten können Entscheidungsträger fundierte Entscheidungen
    auf Basis der gewonnenen Erkenntnisse treffen

Neue Informationen werden benötigt
- Verzögerung: z.B. zeitliche Überschreitung der Projekte ggü. dem Plan in Tagen
- Kostenüberschreitung: z.B. fi nanzielle Überschreitung der Projekte ggü. dem Plan in Euro
- Verzögerung in Prozent: z.B. zeitliche Überschreitung der Projekte ggü. dem Plan in Prozent
- Kostenüberschreitung in Prozent: z.B. fi nanzielle Überschreitung der Projekte ggü. dem Plan in Prozent

```
df["Spalte_neu"] = df["Spalte_alt"] + 1 
 ```

``` 
df = df.assign(Spalte_neu = df["Spalte_alt"] + 1)
 ```

### Neue Spalten erstellen mit assign

```
Assign besser da man mehrere Spalten auf einmal erstellen kann und man es verketten kann. 
```

```

In [26]:
#lambda df weil In this code, we're using `lambda` functions to refer to the DataFrame `df` within the `assign` function. This allows us to use the newly created columns in the same `assign` call.
df = df.assign(dauer_plan = (df["ende_plan"] - df["beginn"]).dt.days,
                dauer_ist = (df["ende_ist"] - df["beginn"]).dt.days,
                verzögerung_abs = (df["ende_ist"] - df["ende_plan"]).dt.days,
                verzögerung_rel = lambda df: (df["verzögerung_abs"]/(df["dauer_plan"]+1)*100).round(2), 
                kostenüberschreitung_abs = df["kosten_ist"] - df["kosten_plan"],
                kostenüberschreitung_rel = lambda df: (df["kostenüberschreitung_abs"] /df["kosten_plan"]*100).round(2)
)



""" df["dauer_plan"] = (df["ende_plan"] - df["beginn"]).dt.days
df["dauer_ist"] = (df["ende_ist"] - df["beginn"]).dt.days
df["verzögerung_abs"] = (df["ende_ist"] - df["ende_plan"]).dt.days
df["verzögerung_rel"] = df["verzögerung_abs"] / (df["dauer_plan"] + 1) * 100
df["kostenüberschreitung_abs"] = df["kosten_ist"] - df["kosten_plan"]
df["kostenüberschreitung_rel"] = df["kostenüberschreitung_abs"] / df["kosten_plan"] * 100

df = df.assign(
    dauer_plan = lambda df: (df["ende_plan"] - df["beginn"]).dt.days,
    dauer_ist = lambda df: (df["ende_ist"] - df["beginn"]).dt.days,
    verzögerung_abs = lambda df: (df["ende_ist"] - df["ende_plan"]).dt.days,
    verzögerung_rel = lambda df: df["verzögerung_abs"] / (df["dauer_plan"] + 1) * 100,
    kostenüberschreitung_abs = lambda df: df["kosten_ist"] - df["kosten_plan"],
    kostenüberschreitung_rel = lambda df: df["kostenüberschreitung_abs"] / df["kosten_plan"] * 100
) """
df.head()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team,dauer,dauer_plan,dauer_ist,verzögerung_abs,verzögerung_rel,kostenüberschreitung_abs,kostenüberschreitung_rel
0,HN-399443,Straßenbau // Jennifer-Buchholz-Ring,2014-09-01,2014-10-03,2014-10-02,219817.40,246192.34,Team 3,31 days,32,31,-1,-3.03,26374.94,12.00
1,UD-626094,Elektroarbeiten // Langernstraße,2021-06-12,2021-08-16,2021-09-18,105683.14,144657.38,Team 3,98 days,65,98,33,50.00,38974.24,36.88
2,IO-468103,Spielplatz // Dussen vanweg,2016-05-20,2016-06-29,2016-06-27,129851.26,136753.06,Team 1,38 days,40,38,-2,-4.88,6901.80,5.32
3,OG-758899,Stadtpark // Lübsstr.,2014-11-11,2014-12-30,2015-01-28,181236.83,273996.91,Team 2,78 days,49,78,29,58.00,92760.08,51.18
4,CZ-107835,Elektroarbeiten // Försterweg,2017-07-25,2017-10-08,2017-10-08,75205.92,77519.27,Team 4,75 days,75,75,0,0.00,2313.35,3.08

### Text-Spalten transformieren

Splitten von Name, atomar

In [27]:
df["art"] = df["name"].str.split("//").str[0]
df.head()

,id,name,beginn,ende_plan,ende_ist,kosten_plan,kosten_ist,team,dauer,dauer_plan,dauer_ist,verzögerung_abs,verzögerung_rel,kostenüberschreitung_abs,kostenüberschreitung_rel,art
0,HN-399443,Straßenbau // Jennifer-Buchholz-Ring,2014-09-01,2014-10-03,2014-10-02,219817.40,246192.34,Team 3,31 days,32,31,-1,-3.03,26374.94,12.00,Straßenbau
1,UD-626094,Elektroarbeiten // Langernstraße,2021-06-12,2021-08-16,2021-09-18,105683.14,144657.38,Team 3,98 days,65,98,33,50.00,38974.24,36.88,Elektroarbeiten
2,IO-468103,Spielplatz // Dussen vanweg,2016-05-20,2016-06-29,2016-06-27,129851.26,136753.06,Team 1,38 days,40,38,-2,-4.88,6901.80,5.32,Spielplatz
3,OG-758899,Stadtpark // Lübsstr.,2014-11-11,2014-12-30,2015-01-28,181236.83,273996.91,Team 2,78 days,49,78,29,58.00,92760.08,51.18,Stadtpark
4,CZ-107835,Elektroarbeiten // Försterweg,2017-07-25,2017-10-08,2017-10-08,75205.92,77519.27,Team 4,75 days,75,75,0,0.00,2313.35,3.08,Elektroarbeiten

### Ausreißer
Werden auch als Outlier bezeichnet und sind Beobachtungen oder Datenpunkte, die sich deutlich von anderen Werten in
einer Datensammlung unterscheiden. Sie können auf Messfehler, Zufallsvariationen oder tatsächliche Abweichungen in der
zugrunde liegenden Verteilung zurückzuführen sein und können die statistische Analyse beeinfl ussen, wenn sie nicht
angemessen berücksichtigt werden.

Identifikation von Ausreißern: unter andem z.B. durch
- Deskriptive Statistiken: Berechnung von Maßen wie Mittelwert, Median, Quartile, um erste Anzeichen von Ausreißern zu
erkennen.
- Visualisierung: Erstellen von Boxplots, Histogrammen oder Streudiagrammen, um Verteilungen und mögliche Ausreißer
visuell zu erfassen.
- Z-Scores: Berechnung von Z-Scores (Standardabweichungen vom Mittelwert), um extreme Werte in Bezug auf die Streuung
der Daten zu identifi zieren.

Die `.describe()` Funktion in Python gibt eine Zusammenfassung der zentralen Tendenzen, der Verteilung und der Form der Verteilung eines Datensatzes zurück. Hier ist, was jede Zeile in der Ausgabe bedeutet:

- `count`: Anzahl der gültigen Werte (ignoriert NaN Werte)
- `mean`: Durchschnittswert
- `std`: Standardabweichung, die die Menge der Variation oder Streuung der Werte misst
- `min`: Mindestwert in den Daten
- `25%`: Unteres Quartil, bei dem 25% der Daten darunter liegen
- `50%`: Median oder mittlerer Wert, bei dem 50% der Daten darunter liegen
- `75%`: Oberes Quartil, bei dem 75% der Daten darunter liegen
- `max`: Höchster Wert in den Daten

In [28]:
cols = ["verzögerung_abs", "verzögerung_rel", "kostenüberschreitung_abs", "kostenüberschreitung_rel"]
df["kosten_ist"] = df["kosten_ist"].round(2)
df[cols].describe()

,verzögerung_abs,verzögerung_rel,kostenüberschreitung_abs,kostenüberschreitung_rel
count,9766.000000,9766.000000,9.766000e+03,9.766000e+03
mean,10.498669,35.345873,7.821218e+05,1.483711e+03
std,25.498780,132.871330,2.795649e+07,7.965712e+04
min,-50.000000,-97.220000,-1.292368e+05,-3.976000e+01
25%,0.000000,0.000000,5.652125e+03,8.290000e+00
50%,2.000000,6.670000,1.653549e+04,1.744000e+01
75%,6.000000,36.360000,4.030509e+04,3.295000e+01
max,230.000000,5500.000000,1.134000e+09,7.274556e+06

Beispiel: Beobachtung mit den drei größten absoluten Kostenüberschreitung

In [29]:
rows = df["kostenüberschreitung_abs"].nlargest(3).index
cols = ["id", "name","kosten_plan","kosten_ist", "kostenüberschreitung_abs", "kostenüberschreitung_rel"]
df.loc[rows, cols]

,id,name,kosten_plan,kosten_ist,kostenüberschreitung_abs,kostenüberschreitung_rel
6543,BQ-775034,Stadtpark // Jäntschstraße,117572.19,1.134117e+09,1.134000e+09,964513.42
7188,LJ-552344,Landschaftsbau // Oswin-Bauer-Gasse,15557.57,1.131760e+09,1.131744e+09,7274556.46
9428,PG-617746,Elektroarbeiten // Liebeltstr.,129009.58,1.097314e+09,1.097185e+09,850467.57

Finding: Kostenüberschreitungen von über 1 Mrd. EUR erscheinen unplausibel.

Beispiel: Beobachtung mit den drei größten relativen Verzögerungen

In [30]:
rows = df["verzögerung_rel"].nlargest(3).index
cols = ["id", "name","dauer_plan","dauer_ist", "verzögerung_abs", "verzögerung_rel"]
df.loc[rows, cols]

,id,name,dauer_plan,dauer_ist,verzögerung_abs,verzögerung_rel
4957,KW-447733,Straßenbau // Huhnstr.,0,55,55,5500.0
6861,FS-809060,Elektroarbeiten // Jüttnerstraße,0,41,41,4100.0
2013,VW-696455,Landschaftsbau // Jann-Junk-Weg,0,33,33,3300.0

Finding: Die größten relativen Verzögerungen betreffen Projekte mit einer relativ kurzen Dauer und sind somit durchaus
plausibel.

Behandlung von Ausreißern: unter anderem z.B. durch
- Ausreißer entfernen: Entfernen von Ausreißern, wenn sie auf Messfehler zurückzuführen sind.
- Ausreißer ersetzen: Ersetzen von Ausreißern durch andere Werte, z.B. durch den Median oder den Mittelwert.
- Ausreißer ignorieren: Ignorieren von Ausreißern, wenn sie auf tatsächliche Abweichungen in der zugrunde liegenden
Verteilung zurückzuführen sind.

In unserem Falle ist teilweise nicht klar, ob die Ausreißer auf Messfehler oder tatsächliche Abweichungen in der zugrunde
liegenden Verteilung zurückzuführen sind. Beispiel:
- Kostenüberschreitung: Die Kostenüberschreitung von über 1 Mrd. EUR erscheint auf den ersten Blick als Eingabe- bzw.
Messfehler.
- Verzögerung: Die größten relativen Verzögerungen betreffen Projekte mit einer relativ kurzen Dauer und sind durchaus
plausibel. Allerdings gibt es auch Projekte, bei denen die Dauer signifi kant unterschritten wird (dauer_ist = 0)

In unserem Beispieldatensatz werden wir die Ausreißer deshalb entfernen

#### Wichtig:
Entscheidung über die Behandlung von Ausreißern sollte immer im Kontext der zugrunde liegenden Daten und der
Fragestellung getroffen werden. Der Umgang mit Ausreißern sollte auch immer transparent dokumentiert werden, da wir
den Datensatz damit verändern.

### Quantile:
- Quantile: Teilen Daten in gleiche Abschnitte
- Arten von Quantilen: Quartile (4 Teile), Quintile (5 Teile), Dezile (10 Teile), Perzentile (100 Teile)
- Perzentile: Spezialfall von Quantilen, teilen Daten in 100 Teile
- Beispiel: 99. Perzentil: Wert, unterhalb dessen 99 % der Daten liegen; zeigt einen sehr hohen Wert im Vergleich zur
Gesamtverteilung (z. B. Einkommen, Testergebnisse)

In [31]:
df["kostenüberschreitung_abs"].quantile([0.01, 0.99])

0.01    -10768.9835
0.99    304094.4865
Name: kostenüberschreitung_abs, dtype: float64

In [32]:
q1 = df["kostenüberschreitung_abs"].quantile(0.01)
q99 = df["kostenüberschreitung_abs"].quantile(0.99)

#Entfernen der Ausreißer
#q1 und q99: 1. und 99. Perzentil der relativen Kostenüberschreitungen
#@: Pandas-Syntax für Variablen in der Query-Syntax
df_neu = df.query("verzögerung_rel > @q1 and verzögerung_rel < @q99")